:root {
  --primarydarkcolor: #114b5f;
  --primarylightcolor: #c6dabf;
  --secundarydarkcolor: #1a936f;
  --secundarylightcolor: #88d498;
  --tertiarylightcolor: #f3e9d2;
}

body {
  margin: 0;
  padding: 0;
  width:100vw
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5em 6em 20em minmax(min-content, max-content) minmax(min-content,max-content) 4em;
  grid-template-areas: "header"
                        "nav"
                        "main"
                        "aside"
                        "bside"
                        "footer";
}

.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  margin: auto;
  list-style-type: none;
}

li {
  margin-top: 20px;
}

.xTicks {
  transform: translate(-40px,-25px);
}

.selectors--students {
  width: auto;
  grid-area: aside;
  background-color: var(--secundarydarkcolor);
}

.student__profile {
  width: auto;
  padding: 0 30px;
  grid-area: aside;
  background-color: var(--secundarydarkcolor);
}

.student__profile p {
  text-align: start;
}

.selectors--assignments {
  grid-area: bside;
  background-color: var(--secundarydarkcolor);
  
  justify-content: flex-start;
}

.student__stats {
  grid-area: bside;
  background-color: var(--secundarydarkcolor);
  padding: 15px;
}

.picture {
  width:70px;
}

header {
  grid-area: header;
  background-color: var(--secundarydarkcolor);
  color: var(--tertiarylightcolor);
}

nav {
  grid-area: nav;
  background-color: var(--primarydarkcolor);
  
}

main {
  grid-area: main;
  background-color: var(--secundarylightcolor);
}

footer {
  grid-area: footer;
  background-color: var(--primarydarkcolor);
  color: var(--tertiarylightcolor);
}

a {
  color: var(--primarylightcolor);
}

svg.chartcontainer {
  overflow-x: auto;
  white-space: nowrap;
}

.chart {
  margin: auto;
}

table, th, td {
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: var(--tertiarylightcolor);
}

@media  screen and (min-width: 768px) {
  .App {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 18vw 64vw 18vw;
    grid-template-rows: 5em 4em auto 4em;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "aside main bside"
                          "footer footer footer";
  }

  .picture {
    width:100px;
  }

  svg.chartcontainer {
    width: 360px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    left: 0;
    transform: scale(1.3,1.3) translate(0px, 10px);
  }

  .graph--options {
    margin-top: 50px;
  }

  .xTicks {
    transform: translate(-40px,-25px);
  }

  .student__profile {
    font-size: x-small;
    padding: 0 10px;
  }

}

@media  screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: 18vw 64vw 18vw;
    grid-template-rows: 5em 4em auto 4em;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "aside main bside"
                          "footer footer footer";
  }

  svg.chartcontainer {
    width: 360px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    left: 0;
    transform: scale(1.8,1.8) translate(0px, 50px);
  }

  .graph--options {
    margin-top: 150px;
  }

  .xTicks {
    transform: translate(-40px,-25px);
  }

  .student__profile {
    font-size: small;
    padding: 0 10px;
  }


}

@media  screen and (min-width: 1440px) {
  .App {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 5em 4em auto 3em;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "aside main bside"
                          "footer footer footer";
  }

  svg.chartcontainer {
    width: 360px;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
    left: 0;
    transform: scale(2.6,2.6) translate(0px, 30px);
  }


  .graph--options {
    margin-top: 180px;
  }

  .xTicks {
    transform: translate(-40px,-25px);
  }


}