text {
    font-size: 0.2rem;
}

.funFactor--bar {
    fill: rgb(215, 255, 39);
    stroke: rgba(162, 173, 7, 0.8);
}

.funFactor--line {
    stroke: rgba(162, 173, 7, 0.8);
}

.difficulty--bar {
    fill:rgb(248, 171, 5);
    stroke:rgb(226, 101, 43);
}

.difficulty--line {
    stroke: rgb(248, 171, 5);
}

.chartcontainer {
    background-color: white;
}